<!--MemberList，会员列表-->
<ion-view view-title="大师列表" cache-view='true' hide-nav-bar="true">
  <ion-nav-buttons side="right">
    <h4></h4>
  </ion-nav-buttons>
  <ion-header-bar class="bar-positive row bar bar-header">
    <div class="col col-20" style="height: 100%;">
      <img src="res/img/index/logo.png" style="height:30px;width:30px;margin-top: -3px;"/>
    </div>
    <div class="col col-70" style="height: 40px; position: relative;">
      <input style="height: 90%;width:100%;padding-left: 5px;border-radius: 3px;" class="ion-beijing" type="text" placeholder="请输入大师名称" ng-model="searchData" ng-change="searchForProduct(searchData)">
      <a ng-click="search3()"><i class="ion-close-circled" style=" display:block; width:30px; text-align:center; line-height:28px; font-size: 16px;opacity: 0.5;color: #000; position: absolute; top:4px; right:6px;"></i></a>
    </div>
    <div class="col col-10">
      <a ng-click="searchForProduct(searchData)" style="text-decoration: none;">
        <i class="ion-ios-search" style="font-size: 26px;margin-top:12px;opacity: 0.8;color: #fff;"></i>
      </a>
    </div>
  </ion-header-bar>
	<ion-content class="has-tabs has-header">


    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list class="list">
      <ion-item style="color: red;text-align:center;">100今币=1元RMB</ion-item>
      <ion-item class="item-avatar" bindonce collection-repeat="obj in list|filter:{mtype:1}"  collection-item-width="100%" collection-item-height="90px" style="position: relative;">
        <img ng-src="{{obj.img1}}" reset-img style="float:left;max-width: 55px;max-height: 55px;border-radius: 0px;margin-left: 1%; top: 18px;"/>
        <a href="" ng-click="rx('#/tab/expert/'+obj.id)" style=" position: absolute; left: 10px; top: 18px; display: block; width: 55px; height: 55px;"></a>
        <div class="fl" style="margin-left:5px;margin-top: 3px;width:85%;font-weight: 400;" ng-click="rx('#/tab/expert/'+obj.id)">
          <div class="cart_list_title">
            <div class="cart_list_title_l" style="color: #000;">{{obj.name}}</div>
          </div>
          <div style="margin-top: 10px">
            <p style="color: #666;font-size: 14px;width: 120%;">咨询费：{{twodecimal(obj.price) | noFractionCurrency }} 今币</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="more()" distance="1%" ng-if="page.hasNextPage"></ion-infinite-scroll>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!list" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>

       <!-- <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list class="list">
            <ion-item class="item-avatar" bindonce collection-repeat="obj in list" href="#/tab/expert/{{obj.id}}" collection-item-width="'100%'" collection-item-height="65px">
              <img ng-src="{{obj.img1}}" reset-img style="float:left;max-width: 55px;max-height: 55px;border-radius: 0px;margin-left: 1%; top: 18px;"/>
                <h2>{{obj.myname}}</h2>
                <p>
				<span>用户ID:{{obj.id}}</span>
				<span>用户类型:{{obj.mtypeString}}</span>
				<span>咨询费:{{obj.price}}</span>
				<span>姓名或名称:{{obj.name}}</span>
				<span>简介:{{obj.intro}}</span>
				</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="more()" distance="1%" ng-if="page.hasNextPage"></ion-infinite-scroll>
        <ion-spinner class="topic-spinner ng-hide" ng-show="!list" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>-->
    </ion-content>
</ion-view>
