<!--QuestionList，一对一问题新建/编辑-->
<ion-view view-title='一对一问题' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
    <li class="item">
      <span class="fl" style="line-height: 40px;">问题标题：</span>
      <input class="fl" type="text" placeholder="问题标题"  ng-model="obj.title" style="padding-left: 5px;width: 60%;">
    </li>
    <div class="row item item-input-wrapper" style="margin-top: 0px; padding-top:0px;">
      <div class="col col-20" style="text-align: left;padding-top: 10px;">
        <span style="font-size: 16px;">问题：</span>
      </div>
      <div class="col col-80">
        <textarea row="5" style="height: 120px;width: 100%;border:0.5px #ddd solid;padding: 5px;overflow: visible;background-color: #fff !important;" placeholder="请输入具体问题"  ng-model="obj.quest"></textarea>
      </div>
    </div>
    <li class="item">
      <span class="fl" style="line-height: 40px;">观看费：</span>
      <input class="fl" type="text" placeholder="观看费"  ng-model="obj.viewprice" style="padding-left: 5px;width: 60%;" disabled>
    </li>
    <li class="item">
      <span class="fl" style="line-height: 40px;">是否公开：</span>
      <div><input class="fl" type="radio" ng-value="0"  ng-model="obj.ptype" checked="checked" style="padding-left: 5px;width: 30%;" >公开</div>
      <div><input class="fl" type="radio" ng-value="1"  ng-model="obj.ptype" style="padding-left: 5px;width: 30%;" >不公开</div>
    </li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced">保存</a></li>
	</ul>
  </ion-content>
</ion-view>
