<ion-view view-title="分类列表" cache-view='true' hide-nav-bar="true">
  <ion-nav-buttons side="right">
    <h4></h4>
  </ion-nav-buttons>
  <ion-header-bar class="bar-positive row bar bar-header">
    <div class="col col-20">
      <a ng-click="fanhui()" style="text-decoration: none;"><i class="ion-chevron-left" style="font-size: 28px;color: #fff;"></i><span style="color: #fff;margin-left: 5px;position: absolute;line-height: 30px;font-weight: 400;">分类</span></a>
    </div>
    <div class="col col-70" style="height: 40px; position: relative;">
      <input style="height: 90%;width:100%;padding-left: 5px;border-radius: 3px;" class="ion-beijing" type="text" placeholder="请输入问题名称" ng-model="searchData" ng-change="searchForProduct(searchData)">
      <a ng-click="search3()"><i class="ion-close-circled" style=" display:block; width:30px; text-align:center; line-height:28px; font-size: 16px;opacity: 0.5;color: #000; position: absolute; top:4px; right:6px;"></i></a>
    </div>
    <div class="col col-10">
      <a ng-click="searchForProduct(searchData)" style="text-decoration: none;">
        <i class="ion-ios-search" style="font-size: 26px;margin-top:12px;opacity: 0.8;color: #fff;"></i>
      </a>
    </div>
  </ion-header-bar>
	<ion-content class="has-tabs has-header">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
    <ul class="list" >
            <li class="item row" style="border: none; padding: 0; margin: 0;"  ng-if="vm.tab=='ask'">
              <button style="background-color: #007aff;width: 50%; height: 60px;color: white;border-radius:10px;" ng-click="ask()" >问答</button> <button ng-click="reward()" style="width: 50%;height: 60px;border-radius:10px;" >悬赏</button>
            </li>
            <li class="item row" style="border: none; padding: 0; margin: 0;" ng-if="vm.tab=='reward'">
              <button style="width: 50%; height: 60px;border-radius:10px;" ng-click="ask()" >问答</button> <button ng-click="reward()" style="background-color: #007aff;width: 50%; height: 60px;color: white;border-radius:10px;" >悬赏</button>
            </li>
            <ion-list class="list">
              <div ng-if="list.length>0" ng-repeat="obj in list">
                <ion-item  collection-item-width="101%" ng-click="gotoProduct(obj.id)">
                  <div class="row" style="padding:4px 0;">
                    <div class="col-60 item" style="color: #333; line-height: 16px; border: none; padding: 0; background:none;">{{$index+1}}. {{obj.myname}}</div>
                    <!--<div class="col-10" style="font-size: 14px;text-align:right; line-height: 16px; color: #808080;">{{obj.articleIdString}}</div>-->
                    <!--<div class="col-30" style="text-align:right; font-size: 12px; color: #f00;position: absolute; right:16px; top:14px;">单价：￥{{obj.memberAuString}}</div>-->
                  </div>
                </ion-item>
              </div>
              <div ng-if="list1.length>0" ng-repeat="obj1 in list1">
                <ion-item  collection-item-width="101%" ng-click="gotoProduct(obj1.id)">
                  <div class="row" style="padding:4px 0;">
                    <div class="col-60 item" style="color: #333; line-height: 16px; border: none; padding: 0; background:none;">{{$index+1}}. {{obj1.question}}</div>
                    <!-- <div class="col-10" style="font-size: 14px;text-align:right; line-height: 16px; color: #808080;">{{obj1.articleIdString}}</div>
                     <div class="col-30" style="text-align:right; font-size: 12px; color: #f00;position: absolute; right:16px; top:14px;">单价：￥{{obj1.memberAuString}}</div>-->
                  </div>
                </ion-item>
              </div>
              <ion-infinite-scroll  on-infinite="more()" distance="1%" ng-if="list.length>0&&page.hasNextPage"></ion-infinite-scroll>
              <ion-infinite-scroll  on-infinite="more1()" distance="1%" ng-if="list1.length>0&&page1.hasNextPage"></ion-infinite-scroll>
            </ion-list>
      </ul>
    </ion-content>
</ion-view>
