<style>
    input[required]:invalid, input:focus:invalid, textarea[required]:invalid, textarea:focus:invalid{box-shadow: none;}
</style>
<ion-modal-view class="login_mian">
    <ion-header-bar class="bar bar-header bar-positive disable-user-behavior">
        <div class="buttons">
            <button class="button button-clear login_back" ng-click="closePopLogin();">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
        </div>
        <h1 class="title">登录/注册</h1>
    </ion-header-bar>


    <div class="tabs-striped tabs-top">
        <div class="tabs login_tabs">
            <div class="tab_item" ng-class="{'password': 'active'}[loginTab]" ng-click="loginTabChange('password')">
                登录
            </div>
            <div class="login_border"></div>
            <div class="tab_item" ng-class="{'sms': 'active'}[loginTab]" ng-click="loginTabChange('sms')">
              注册/找回密码
            </div>
        </div>
    </div>

    <ion-content ng-switch="loginTab">
        <form ng-switch-when="sms" name="sms">
            <div class="login_form" >
                <div class="login_input">
                    <div class="item_thumb">
                        <i class="icon ion-ios-telephone-outline"></i>
                    </div>
                    <div class="item_content">
                        <input type="tel" ng-model="user.username" required placeholder="请填写手机号码"/>
                    </div>
                    <div class="item_dl">
                        <a ng-if="countdown == 0" class="button button-assertive item_dl_initial" ng-disabled="!user.username" ng-click="requestCode(user)">获取验证码</a>
                        <a ng-if="countdown != 0" disabled class="button button-assertive item_dl_after">{{countdown}}s重新获取</a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="login_input" style="border:none;margin-top: 1px">
                    <div class="item_thumb">
                        <i class="icon ion-ios-unlocked-outline"></i>
                    </div>

                    <div class="item_content" >
                        <input type="tel" ng-model="user.code" required placeholder="验证码"/>

                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="login_input" style="margin-top: 8px;border: none">
                    <div class="item_thumb">
                        <i class="icon ion-ios-unlocked-outline"></i>
                    </div>
                    <div class="item_content">
                        <input type="tel" ng-model="user.password" required placeholder="请输入6位数以上的密码"/>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="login_button">
                    <button class="button button-block button-assertive login_button_ab" ng-disabled="!sms.$valid" type="submit" ng-click="dologinbysms(user)">注&nbsp;册</button>
                </div>
            </div>
        </form>

        <form ng-switch-when="password" name="password">
            <div class="login_form">
                <div class="login_input">
                    <div class="item_thumb">
                        <i class="icon ion-ios-personadd-outline"></i>
                    </div>
                    <div class="item_content" style="width:70%;">
                        <input type="tel" style="width:100%;" ng-model="user.username" required placeholder="请输入手机号"/>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="login_input"style="margin-top: 1px">
                    <div class="item_thumb">
                        <i class="icon ion-ios-locked-outline"></i>
                    </div>
                    <div class="item_content" style="width:70%;">
                        <input type="password" style="width:100%;" ng-model="user.password" required placeholder="请输入密码"/>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="login_button">
                    <button class="button button-block button-assertive login_button_ab" ng-disabled="!password.$valid" type="submit" ng-click="dologin(user)">登录</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
