<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- 首页 -->
  <ion-tab title="首页" icon-off="ion-Wwwhome-outline" icon-on="ion-Wwwhome" ng-click ="nowtabs('A')">
    <ion-nav-view name="tab_a"></ion-nav-view>
  </ion-tab>
  <!-- 大师 -->
  <ion-tab title="大师" icon-off="ion-expertList-outline" icon-on="ion-expertList"  ng-click ="nowtabs('B')">
    <ion-nav-view name="tab_b"></ion-nav-view>
  </ion-tab>
  <!-- 分类-问题 -->
  <ion-tab title="分类" icon-off="ion-Articlechannel-outline" icon-on="ion-Articlechannel"  ng-click ="nowtabs('C')">
    <ion-nav-view name="tab_c"></ion-nav-view>
  </ion-tab>
  <!-- 我的 -->
  <ion-tab title="我的" icon-off="ion-my-outline" icon-on="ion-my"  ng-click ="nowtabs('D')">
    <ion-nav-view name="tab_d"></ion-nav-view>
  </ion-tab>
</ion-tabs>
