<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive disable-user-behavior">
        <h1 class="title">微信安全支付</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-close-circled" ng-click="closePop('wx')">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div style="float:left;padding-left:5px;">
                <a>
                    <p style="color:#e60042;font-size:18px;">感谢您使用点金，请您在支付完成后关闭此窗口</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
