<ion-view view-title="Ta">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-left" href="#/tab/RechargeList"><i class="icon ion-arrow-up-a"></i>充值项目</a>
            <a class="item item-icon-left" href="#/tab/WwwhomeList"><i class="icon ion-arrow-right-a"></i>手机页首页配置</a>
            <a class="item item-icon-left" href="#/tab/MemberRelationList"><i class="icon ion-arrow-down-a"></i>会员父子关系</a>
            <a class="item item-icon-left" href="#/tab/SigninList"><i class="icon ion-arrow-left-a"></i>签到</a>
            <a class="item item-icon-left" href="#/tab/ArticleList"><i class="icon ion-arrow-up-b"></i>文章</a>
            <a class="item item-icon-left" href="#/tab/ArticleExtTxtList"><i class="icon ion-arrow-right-b"></i>文章内容</a>
            <a class="item item-icon-left" href="#/tab/ArticlechannelList"><i class="icon ion-arrow-down-b"></i>频道</a>
            <a class="item item-icon-left" href="#/tab/ArticleCommentList"><i class="icon ion-arrow-left-b"></i>文章的评论</a>
            <a class="item item-icon-left" href="#/tab/MessageList"><i class="icon ion-arrow-up-c"></i>短消息</a>
            <a class="item item-icon-left" href="#/tab/CashHisList"><i class="icon ion-arrow-right-c"></i>现金流水</a>
            <a class="item item-icon-left" href="#/tab/CashmemberStatiDayList"><i class="icon ion-arrow-down-c"></i>会员现金日统计</a>
            <a class="item item-icon-left" href="#/tab/CashmemberStatiMonthList"><i class="icon ion-arrow-left-c"></i>会员现金月统计</a>
            <a class="item item-icon-left" href="#/tab/UserList"><i class="icon ion-arrow-return-right"></i>账号信息修改</a>
            <a class="item item-icon-left" href="#/tab/MemberList"><i class="icon ion-arrow-return-left"></i>会员</a>
            <a class="item item-icon-left" href="#/tab/ScoreHisList"><i class="icon ion-arrow-swap"></i>积分流水</a>
            <a class="item item-icon-left" href="#/tab/ScorememberStatiDayList"><i class="icon ion-arrow-shrink"></i>会员积分日统计</a>
            <a class="item item-icon-left" href="#/tab/ScorememberStatiMonthList"><i class="icon ion-arrow-expand"></i>会员积分月统计</a>
            <a class="item item-icon-left" href="#/tab/ExpHisList"><i class="icon ion-arrow-move"></i>经验流水</a>
            <a class="item item-icon-left" href="#/tab/ExpmemberStatiDayList"><i class="icon ion-arrow-resize"></i>会员经验日统计</a>
            <a class="item item-icon-left" href="#/tab/ExpmemberStatiMonthList"><i class="icon ion-chevron-up"></i>会员经验月统计</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuestionList"><i class="icon ion-chevron-right"></i>订单之一对一问题提问</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuestionFinishedList"><i class="icon ion-chevron-down"></i>订单之一对一问题提问归档</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuestionDiscardList"><i class="icon ion-chevron-left"></i>订单之一对一问题提问放弃</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuickList"><i class="icon ion-navicon-round"></i>订单之抢答问题提问</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuickFinishedList"><i class="icon ion-navicon"></i>订单之抢答问题提问归档</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuickDiscardList"><i class="icon ion-drag"></i>订单之抢答问题提问放弃</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuestionviewList"><i class="icon ion-log-in"></i>订单之一对一问题观看</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuestionviewFinishedList"><i class="icon ion-checkmark-round"></i>订单之一对一问题观看归档</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuestionviewDiscardList"><i class="icon ion-checkmark"></i>订单之一对一问题观看放弃</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuickviewList"><i class="icon ion-checkmark-circled"></i>订单之抢答问题观看</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuickviewFinishedList"><i class="icon ion-close-round"></i>订单之抢答问题观看归档</a>
            <a class="item item-icon-left" href="#/tab/OrderrQuickviewDiscardList"><i class="icon ion-close"></i>订单之抢答问题观看放弃</a>
            <a class="item item-icon-left" href="#/tab/QuestionList"><i class="icon ion-close-circled"></i>一对一问题</a>
            <a class="item item-icon-left" href="#/tab/QuestionTxtList"><i class="icon ion-plus-round"></i>一对一问题回答</a>
            <a class="item item-icon-left" href="#/tab/QuestionAddList"><i class="icon ion-plus"></i>一对一问题之追加</a>
            <a class="item item-icon-left" href="#/tab/QuestionLinkMemberViewList"><i class="icon ion-plus-circled"></i>观看问题的会员</a>
            <a class="item item-icon-left" href="#/tab/QuickList"><i class="icon ion-minus-round"></i>抢答</a>
            <a class="item item-icon-left" href="#/tab/QuickTxtList"><i class="icon ion-minus"></i>抢答回答</a>
            <a class="item item-icon-left" href="#/tab/QuickAddList"><i class="icon ion-minus-circled"></i>抢答之追加</a>
            <a class="item item-icon-left" href="#/tab/QuickLinkMemberViewList"><i class="icon ion-information"></i>观看抢答的会员</a>
            <a class="item item-icon-left" href="#/tab/QuickTxtCommentList"><i class="icon ion-information-circled"></i>抢答的评价</a>
        </div>
    </ion-content>
</ion-view>
