<!--ArticleCommentList，文章的评论新建/编辑-->
<ion-view view-title='文章的评论' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
		<li class="item item-input"><h2 class="input-label">文章内序号</h2><p><input type="text" ng-model="obj.articleId" /></p></li>
		<li class="item item-input"><h2 class="input-label">评论者内序</h2><p><input type="text" ng-model="obj.memberCo" /></p></li>
		<li class="item item-input"><h2 class="input-label">评论</h2><p><input type="text" ng-model="obj.msg" /></p></li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
  </ion-content>
</ion-view>
