<!--MemberRelationList，会员父子关系新建/编辑-->
<ion-view view-title='会员父子关系' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
		<li class="item item-input"><h2 class="input-label">父亲</h2><p><input type="text" ng-model="obj.memberId" /></p></li>
		<li class="item item-input"><h2 class="input-label">孩子</h2><p><input type="text" ng-model="obj.memberCh" /></p></li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
  </ion-content>
</ion-view>
