<!--QuestionList，一对一问题新建/编辑-->
<ion-view view-title='一对一问题' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
			<li class="item item-input item-select"><h2 class="input-label">状态</h2>
				<p>
					<select ng-model="obj.status"> 
					<option ng-repeat="(key,value) in ao_Question_status" value="{{key}}" ng-selected="key==obj.status">{{value}}</option>
					</select>
				</p>
			</li>
			<li class="item item-input item-select"><h2 class="input-label">公开状态</h2>
				<p>
					<select ng-model="obj.ptype"> 
					<option ng-repeat="(key,value) in ao_Question_ptype" value="{{key}}" ng-selected="key==obj.ptype">{{value}}</option>
					</select>
				</p>
			</li>
		<li class="item item-input"><h2 class="input-label">频道内序号</h2><p><input type="text" ng-model="obj.articlechannelId" /></p></li>
		<li class="item item-input"><h2 class="input-label">提问者</h2><p><input type="text" ng-model="obj.memberQu" /></p></li>
		<li class="item item-input"><h2 class="input-label">回答者</h2><p><input type="text" ng-model="obj.memberAn" /></p></li>
		<li class="item item-input"><h2 class="input-label">观看费</h2><p><input type="text" ng-model="obj.viewprice" /></p></li>
		<li class="item item-input"><h2 class="input-label">回答字数</h2><p><input type="text" ng-model="obj.answerwords" /></p></li>
		<li class="item item-input"><h2 class="input-label">观看人数</h2><p><input type="text" ng-model="obj.viewnum" /></p></li>
		<li class="item item-input"><h2 class="input-label">好评人数</h2><p><input type="text" ng-model="obj.goodnum" /></p></li>
		<li class="item item-input"><h2 class="input-label">差评人数</h2><p><input type="text" ng-model="obj.badnum" /></p></li>
		<li class="item item-input"><h2 class="input-label">标题</h2><p><input type="text" ng-model="obj.title" /></p></li>
		<li class="item item-input"><h2 class="input-label">问题</h2><p><input type="text" ng-model="obj.quest" /></p></li>
			<li class="item item-input item-select"><h2 class="input-label">评论情况</h2>
				<p>
					<select ng-model="obj.ctype"> 
					<option ng-repeat="(key,value) in ao_Question_ctype" value="{{key}}" ng-selected="key==obj.ctype">{{value}}</option>
					</select>
				</p>
			</li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
  </ion-content>
</ion-view>
