<!--QuestionAddShow，一对一问题之追加详细信息-->
<ion-view view-title='一对一问题之追加' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
	  <a class="button icon ion-edit" href="#/tab/QuestionAddEdit/{{obj.id}}"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list">
		<li class="item">序号:{{obj.id}}</li>
		<li class="item"><h2>创建时间</h2><p>{{obj.gmtCreateString}}</p></li>
		<li class="item"><h2>修改时间</h2><p>{{obj.gmtModifiedString}}</p></li>
		<li class="item"><h2>一对一问题</h2><p>{{obj.questionIdString}}</p></li>
		<li class="item"><h2>提问者</h2><p>{{obj.memberQuString}}</p></li>
		<li class="item"><h2>回答者</h2><p>{{obj.memberAnString}}</p></li>
		<li class="item">内容:{{obj.qa}}</li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
