<!--QuestionShow，一对一问题详细信息-->
<ion-view view-title='一对一问题' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
	  <a class="button icon ion-edit" href="#/tab/QuestionEdit/{{obj.id}}"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list">
		<li class="item">序号:{{obj.id}}</li>
		<li class="item"><h2>创建时间</h2><p>{{obj.gmtCreateString}}</p></li>
		<li class="item"><h2>修改时间</h2><p>{{obj.gmtModifiedString}}</p></li>
		<li class="item"><h2>支付时间</h2><p>{{obj.gmtPayString}}</p></li>
		<li class="item"><h2>回答时间</h2><p>{{obj.gmtAnswerString}}</p></li>
		<li class="item">排列顺序:{{obj.priority}}</li>
		<li class="item"><h2>状态</h2><p>{{obj.statusString}}</p></li>
		<li class="item"><h2>公开状态</h2><p>{{obj.ptypeString}}</p></li>
		<li class="item"><h2>频道内序号</h2><p>{{obj.articlechannelIdString}}</p></li>
		<li class="item"><h2>提问者</h2><p>{{obj.memberQuString}}</p></li>
		<li class="item"><h2>回答者</h2><p>{{obj.memberAnString}}</p></li>
		<li class="item">咨询费:{{obj.price}}</li>
		<li class="item">观看费:{{obj.viewprice}}</li>
		<li class="item">回答字数:{{obj.answerwords}}</li>
		<li class="item">观看人数:{{obj.viewnum}}</li>
		<li class="item">好评人数:{{obj.goodnum}}</li>
		<li class="item">差评人数:{{obj.badnum}}</li>
		<li class="item">标题:{{obj.title}}</li>
		<li class="item">问题:{{obj.quest}}</li>
		<li class="item"><h2>评论情况</h2><p>{{obj.ctypeString}}</p></li>
		<li class="item">能看不:{{obj.canread}}</li>
		<li class="item">答案:{{obj.questionTxt}}</li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
