<!--QuickAddList，抢答之追加新建/编辑-->
<ion-view view-title='抢答之追加' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
		<li class="item item-input"><h2 class="input-label">抢答</h2><p><input type="text" ng-model="obj.quickId" /></p></li>
		<li class="item item-input"><h2 class="input-label">提问者</h2><p><input type="text" ng-model="obj.memberQu" /></p></li>
		<li class="item item-input"><h2 class="input-label">回答者</h2><p><input type="text" ng-model="obj.memberAn" /></p></li>
		<li class="item item-input"><h2 class="input-label">内容</h2><p><input type="text" ng-model="obj.qa" /></p></li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
  </ion-content>
</ion-view>
