<!--ScorememberStatiMonthList，会员积分月统计新建/编辑-->
<ion-view view-title='会员积分月统计' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
		<li class="item item-input"><h2 class="input-label">会员</h2><p><input type="text" ng-model="obj.memberId" /></p></li>
		<li class="item item-input"><h2 class="input-label">本月增减数量</h2><p><input type="text" ng-model="obj.num" /></p></li>
		<li class="item item-input"><h2 class="input-label">月初数</h2><p><input type="text" ng-model="obj.nstart" /></p></li>
		<li class="item item-input"><h2 class="input-label">月末数</h2><p><input type="text" ng-model="obj.nend" /></p></li>
		<li class="item item-input"><h2 class="input-label">备注说明</h2><p><input type="text" ng-model="obj.cmemo" /></p></li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
  </ion-content>
</ion-view>
