<!--UserList，账号信息修改新建/编辑-->
<ion-view view-title='账号信息修改' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<!--修改-->
	<ul class="list">
			<li class="item item-input item-select"><h2 class="input-label">状态</h2>
				<p>
					<select ng-model="obj.status"> 
					<option ng-repeat="(key,value) in ao_User_status" value="{{key}}" ng-selected="key==obj.status">{{value}}</option>
					</select>
				</p>
			</li>
			<li class="item item-input item-select"><h2 class="input-label">角色</h2>
				<p>
					<select ng-model="obj.roleId"> 
					<option ng-repeat="(key,value) in ao_User_roleId" value="{{key}}" ng-selected="key==obj.roleId">{{value}}</option>
					</select>
				</p>
			</li>
		<li class="item item-input"><h2 class="input-label">账号</h2><p><input type="text" ng-model="obj.username" /></p></li>
		<li class="item item-input"><h2 class="input-label">昵称</h2><p><input type="text" ng-model="obj.nickname" /></p></li>
		<li class="item item-input"><h2 class="input-label">隶属于</h2><p><input type="text" ng-model="obj.userId" /></p></li>
		<li class="item item-input"><h2 class="input-label">微信openid</h2><p><input type="text" ng-model="obj.openid" /></p></li>
		<li class="item"><a ng-click="save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
  </ion-content>
</ion-view>
