<!--User，账号信息修改详细信息-->
<style>
	input[required]:invalid, input:focus:invalid, textarea[required]:invalid, textarea:focus:invalid{box-shadow: none;}
</style>
<ion-view view-title="密码修改"  cache-view="false">
	<ion-content>
		<ul style="margin-top: 10px;">
		<label class="item item-input" style="border-top: none;">账号：{{obj.username}}</label>
		<label class="item item-input" >密码：<input id="password" name="password" type="password" placeholder="请输入新密码(至少6位)" ng-model="obj.password" /></label>
		<li class="item" style="border: none;background: none;margin-top:40px"><a ng-click="vm.isedit=false;save()" class="button button-full button-balanced" style="background-color: #1296db; border-radius: 5px;">保存</a></li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
